<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File List</title>
    <link rel="stylesheet" href="/styles/styles.css">
</head>
<body>
    <h1>List of Text Files</h1>
    <ul>
        <% files.forEach(file => { %>
            <li>
                <%= file %>
                <input type="text" class="filename-input" id="filename_<%= file %>" placeholder="New Filename">
                    
                <button>Update</button>
                <button>Delete</button>
            </li>
        <% }); %>
    </ul>

</body>
</html>
